@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

.tv-root{
  width:550px;
  margin:auto;
  background:#000;
}

.tv-vase{
  width:135px;
  height:150px;
  margin:auto;
  background:url(https://i.imgur.com/25HbyIW.png) center/cover no-repeat;
}

.tv-tv{
  width:468px;
  height:313px;
  margin:auto;
  background:url(https://i.imgur.com/v3wJeyj.png) center/cover no-repeat;
  position:relative;
  z-index:4;
}

.tv-static{
  width:380px;
  height:260px;
  background:url(https://i.imgur.com/8MhkIyR.gif) center/cover no-repeat;
  opacity:.2;
  margin-top:-283px;
  margin-left:50px;
  position:relative;
  z-index:2;
}

.tv-layer{
  width:380px;
  height:260px;
  margin-top:-270px;
  margin-left:50px;
  position:relative;
  z-index:3;
  overflow:hidden;
}

.tv-layer iframe{
  width:120% !important;
  height:120% !important;
  position:absolute;
  top:-10%;
  left:-10%;
}

/* if not */
.tv-layer *{
  width:120% !important;
  height:120% !important;
  position:absolute;
  top:-10%;
  left:-10%;
}

.tv-leftmask{
  float:left;
  width:50px;
  height:320px;
  background:#000;
  margin-left:-3px;
  margin-top:-300px;
  position:relative;
  z-index:1;
}

.tv-polaroid-wrap{
  float:right;
  margin-right:20px;
  margin-top:-150px;
  position:relative;
  z-index:99;
  transform:rotate(-7deg);
}

.tv-polaroid{
  width:120px;
  height:148px;
  padding:5px;
  background:#fff;
  box-shadow:0 0 10px #000;
}

.tv-polaroid-img{
  width:120px;
  height:120px;
  background:var(--polaroid,#eee) center/cover no-repeat;
}

.tv-polaroid-text{
  text-align:right;
  color:#000;
  font-size:14px;
  font-family: "Liu Jian Mao Cao", cursive;
  
}

.tv-music{
  margin-top:15px;
  text-align:center;
  color:#696969;
  font-family: "Poltawski Nowy", serif;
  font-size:15px;
  font-style:italic;
}
