@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.root {
  width: 100%;
  background: #000;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-size: 15px;
}

.wrap {
  width: 550px;
  padding: 10px;
  margin: auto;
  background: #000;
  position: relative;
}

.vase {
  width: 135px;
  height: 150px;
  margin: auto;
  background: url(https://i.imgur.com/25HbyIW.png) center/cover no-repeat;
}

.tv {
  width: 468px;
  height: 313px;
  margin: auto;
  background: url(https://i.imgur.com/v3wJeyj.png) center/cover no-repeat;
  position: relative;
  z-index: 4;
}

.tv-noise {
  width: 380px;
  height: 260px;
  background: url(https://i.imgur.com/8MhkIyR.gif) center/cover no-repeat;
  margin-top: -283px;
  margin-left: 50px;
  position: relative;
  z-index: 2;
  opacity: 0.2;
}

.clip {
  width: 468px;
  margin: auto;
  margin-top: -270px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

.leftbar {
  float: left;
  width: 50px;
  height: 320px;
  background: #000;
  position: relative;
  margin-left: -3px;
  margin-top: -300px;
  z-index: 1;
}

.polaroid-wrap {
  float: right;
  margin-right: 20px;
  margin-top: -150px;
  position: relative;
  z-index: 99;
}
.polaroid {
  width: 120px;
  height: 148px;
  padding: 5px;
  background: #fff;
  box-shadow: 0px 0px 10px 1px #000;
  transform: rotate(-7deg);
  position: relative;
}

.polaroid-img {
  width: 120px;
  height: 120px;
  background: #eee; /* พื้นโล่ง */
  overflow: hidden;
}

.polaroid-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  text-align: center;
  color: #696969;
  font-style: italic;
  margin-top: 5px;
}
