@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.tv-root{
  width:550px;
  margin:auto;
  position:relative;
  font-family:Macondo,cursive;
}

.tv-vase{
  width:135px;
  height:150px;
  background:url(https://i.imgur.com/25HbyIW.png) center/cover no-repeat;
  margin:auto;
}

.tv-tv{
  width:468px;
  height:313px;
  background:url(https://i.imgur.com/v3wJeyj.png) center/cover no-repeat;
  margin:auto;
  position:relative;
  z-index:5;
}

.tv-layer{
  position:absolute;
  top:185px;
  left:30%;
  transform:translateX(-50%);
  width:280px;
  height:260px;
  z-index:1;
  overflow:hidden;
}

.tv-static{
  position:absolute;
  top:185px;
  left:50%;
  transform:translateX(-50%);
  width:380px;
  height:260px;
  background:url(https://i.imgur.com/8MhkIyR.gif) center/cover no-repeat;
  opacity:.2;
  z-index:3;
  pointer-events:none;
}

.tv-polaroid-wrap{
  position:absolute;
  right:15px;
  top:230px;
  z-index:99;
  transform:rotate(-7deg);
}

.tv-polaroid{
  width:120px;
  height:148px;
  padding:5px;
  background:#fff;
  box-shadow:0 0 10px #000;
}

.tv-polaroid-img{
  width:120px;
  height:120px;
  background:#eee;
  overflow:hidden;
}

.tv-polaroid-img img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.tv-polaroid-text{
  text-align:right;
  color:#000;
  font-size:14px;
}

.tv-music{
  margin-top:15px;
  text-align:center;
  color:#696969;
  font-style:italic;
}




