@import url(https://fonts.googleapis.com/css2?family=Macondo&display=swap);

.back {
  width: 100%;
  background: #000;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.page {
  width: 550px;
  padding: 10px;
  margin: auto;
  clear: both;
  background: #000;
  position: relative; 
  height: 600px; 
}

.flower {
  background: url(https://i.imgur.com/25HbyIW.png) center center/cover no-repeat;
  width: 135px;
  height: 150px; 
  margin: auto;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.tv {
  background: url(https://i.imgur.com/v3wJeyj.png) center center/cover no-repeat;
  width: 468px;
  height: 313px;
  margin: auto;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.clip {
  position: absolute; 
  top: 45px; 
  left: 55px; 
  width: 355px;
  height: 240px; 
  overflow: hidden;
  z-index: 3;
}
.error {
  background: url(https://i.imgur.com/8MhkIyR.gif) center center/cover no-repeat;
  width: 380px;
  height: 260px;
  position: absolute; 
  top: 173px;
  left: 100px; 
  z-index: 2; 
  opacity: 0.2;
}

.hideright {
  position: absolute;
  top: 300px; 
  right: 50px;
  z-index: 99;
}

.polar {
  position: relative;
  box-shadow: 0px 0px 10px 1px #000000;
  transform: rotate(-7deg); 
  width:120px;
  height:148px;
  padding:5px;
  background: #fff;
}

.inpol {
  width:120px;
  height:120px;
  margin-bottom: 2px;
}

.inpol img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    filter: brightness(85%);
}

.polar-caption {
    position: absolute;
    bottom: 5px;
    right: 8px;
    color: #000000;
    text-decoration: none;
    z-index: 100;
}

.music-caption {
    position: absolute;
    bottom: 200px; 
    width: 100%;
    text-align: center;
    color: #696969; 
    font-style: italic;
    z-index: 1;
}
