@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.root{
  width:550px;
  margin:auto;
  position:relative;
  font-family:Macondo,cursive;
}

.vase{
  width:135px;
  height:150px;
  background:url(https://i.imgur.com/25HbyIW.png) center/cover no-repeat;
  margin:auto;
}

.tv{
  width:468px;
  height:313px;
  background:url(https://i.imgur.com/v3wJeyj.png) center/cover no-repeat;
  margin:auto;
  position:relative;
  z-index:10;
}

.clip{
  position:absolute;
  top:72px;
  left:44px;
  width:381px;
  height:214px;
  z-index:5;
  overflow:hidden;
}

.error{
  position:absolute;
  top:72px;
  left:44px;
  width:381px;
  height:214px;
  background:url(https://i.imgur.com/8MhkIyR.gif) center/cover no-repeat;
  opacity:.2;
  z-index:6;
  pointer-events:none;
}

.polaroid-wrap{
  position:absolute;
  right:-20px;
  top:230px;
  z-index:99;
  transform:rotate(-7deg);
}

.polarborder{
  width:120px;
  height:148px;
  padding:5px;
  background:#fff;
  box-shadow:0 0 10px #000;
}

.polarimg{
  width:120px;
  height:120px;
  background:#eee;
  overflow:hidden;
}

.polarname{
  text-align:right;
  color:#000;
  font-size:14px;
}

.below{
  margin-top:15px;
  text-align:center;
  color:#696969;
  font-style:italic;
}
