@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #000;
}

.tv-container {
  width: 100%;
  background: #000;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.tv-box {
  width: 550px;
  padding: 10px;
  margin: auto;
  background: #000;
  clear: both;
}

/* Vase */
.tv-vase {
  background: url("https://i.imgur.com/25HbyIW.png") center center/cover no-repeat;
  width: 135px;
  height: 150px;
  margin: auto;
}

/* TV frame */
.tv-frame {
  background: url("https://i.imgur.com/v3wJeyj.png") center center/cover no-repeat;
  width: 468px;
  height: 313px;
  margin: auto;
  position: relative;
  z-index: 4;
  clear: both;
}

/* Gif layer */
.tv-static {
  background: url("https://i.imgur.com/8MhkIyR.gif") center center/cover no-repeat;
  width: 380px;
  height: 260px;
  margin-top: -283px;
  margin-left: 50px;
  position: relative;
  z-index: 2;
  opacity: 0.2;
}

/* YouTube layer */
.tv-video {
  width: 468px;
  margin: auto;
  margin-top: -270px;
  margin-left: 20px;
  clear: both;
  z-index: 1;
}

/* Left black bar */
.tv-mask-left {
  float: left;
  width: 50px;
  height: 320px;
  background: #000;
  z-index: 1;
  clear: both;
  margin-left: -3px;
  margin-top: -300px;
  position: relative;
}

/* Polaroid */
.polaroid-wrap {
  float: right;
  margin-right: 20px;
  z-index: 99;
  position: relative;
  margin-top: -150px;
}

.polaroid {
  position: relative;
  box-shadow: 0px 0px 10px 1px #000000;
  rotate: -7deg;
  width: 120px;
  height: 148px;
  padding: 5px;
  background: #fff;
}

.polarimg {
  width: 120px;
  height: 120px;
  background: #eee;
  margin-bottom: 2px;
  overflow: hidden;
}

.polarsetting  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.polartext {
  text-align: right;
  color: #000;
}

.below {
  text-align: center;
  color: #696969;
  font-style: italic;
}
