@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.root{
  width:550px;
  margin:auto;
  background:#000;
  font-family:"Macondo",cursive;
  font-size:15px;
}

/* แจกัน */
.vase{
  width:135px;
  height:150px;
  margin:auto;
  background:url(https://i.imgur.com/25HbyIW.png) center/cover no-repeat;
}

/* ทีวี */
.tv{
  width:468px;
  height:313px;
  margin:auto;
  background:url(https://i.imgur.com/v3wJeyj.png) center/cover no-repeat;
  position:relative;
  z-index:4;
}

/* static */
.tv.error{
  width:380px;
  height:260px;
  background:url(https://i.imgur.com/8MhkIyR.gif) center/cover no-repeat;
  opacity:.2;
  margin-top:-283px;
  margin-left:50px;
  position:relative;
  z-index:2;
}

/* youtube */
.tv.clip{
  width:468px;
  margin-top:-270px;
  margin-left:20px;
  position:relative;
  z-index:1;
}

/* mask*/
.tv.leftmask{
  float:left;
  width:50px;
  height:320px;
  background:#000;
  margin-left:-3px;
  margin-top:-300px;
  position:relative;
  z-index:1;
}

/* โพลารอยด์ */
.polar{
  float:right;
  margin-right:20px;
  margin-top:-150px;
  position:relative;
  z-index:99;
  transform:rotate(-7deg);
}

.polar.border{
  width:120px;
  height:148px;
  padding:5px;
  background:#fff;
  box-shadow:0 0 10px #000;
}

/* ภาพ */
.polar.img{
  width:120px;
  height:120px;
  background:var(--polaroid,#eee) center/cover no-repeat;
}

/* ชื่อ */
.polar.name{
  text-align:right;
  color:#000;
  font-size:14px;
}

/* ข้อความ */
.text{
  margin-top:15px;
  text-align:center;
  color:#696969;
  font-style:italic;
}

